<h1 class="page-title">Configuration</h1>

<p>Application config is at <code>/config/application.yml</code>.</p>

<h4 style="margin-top: 2em">Sample application.yml</h4>

<pre>
<%= @sample_config %>
</pre>