<h1>New Build request</h1>

<%= form_for :build_request, url: build_requests_path do |f| %>
  <p>
    <%= f.label :project_id %><br>
    <%= f.select :project_id, @project_select, selected: params[:project_id] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>