<h1>Tasks</h1>

<%= link_to 'New', new_task_path, { class: 'btn btn-primary' } %>

<div style="margin-top: 2em;">
	<pre id="output" style="height: 600px; overflow: auto;" data-url="<%= watch_tasks_path %>"></pre>
</div>