<div class="clearfix projects">
  <h3 class="page-title">
    Running tasks
    <span class="pull-right">
      <a class="btn btn-new" href="<%= new_build_request_path %>">
        <i class="fa fa-plus"></i>&nbsp;
        New Build
      </a>
    </span>
  </h3>
  <hr>

  <div class="task-listing"></div>
</div>