<div class="vertical-center">
	<div class="vertical-center-container">
		<div class="icon-container">
			<div class="icon-block">
				<i class="fa fa-cubes"></i>
			</div>
			<div>
				<h4>No projects</h4>
				<p class="light">Create some projects in Gitlab first.</p>
			</div>
		</div>
	</div>
</div>

