<h1>Task: <%= @task.id %></h1>

<div class="task-detail">
	<div class="state" style="margin-top: 2em;"></div>

	<div style="margin-top: 2em;">
		<pre class="log" style="height: 600px; overflow: auto;"></pre>
	</div>
</div>