<h1>Task: <%= @task.id %></h1>

<%= link_to 'Run', run_task_path(@task), { class: 'btn btn-primary' } %>

<div style="margin-top: 2em;">
	<pre id="output" style="height: 600px; overflow: auto;" data-url="<%= watch_task_path(@task) %>"></pre>
</div>