<div class="vertical-center">
	<div class="vertical-center-container">
		<div class="icon-container">
			<div class="icon-block">
				<i class="fa fa-lock"></i>
			</div>
			<div>
				<h4>Login required</h4>
				<p class="light">You need to sign in to access this application.</p>
				<%= link_to 'Login using Gitlab', login_auth_path, { class: 'btn btn-primary' } %>
			</div>
		</div>
	</div>
</div>

