<h2>Hey! I need some time to setup!</h2>

<div class="setup-inprogress" style="display: none;">
	Setup in progress
</div>

<div class="setup-failed" style="display: none;">
	Setup failed
	<div class="setup-error"></div>

	Please restart the server after you fix this.
</div>