<%= render 'layouts/head.html.erb' %>
<div class='content-wrapper'>
  <div class='container-fluid'>
    <div class='content'>
      <div class='flash-container'></div>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/foot.html.erb' %>